*{
  font-family: sans-serif;
}

body{
    background-image: linear-gradient(lightgreen,darkgreen);
    background-repeat: no-repeat;
}

header,footer{
    font-size: 1.5em;
    text-align: center;
}

header{
  padding-bottom: 2%;
}
footer{
  padding-top: 2%;
}

#container{
  display: flex;
  justify-content: space-between;
}
