/*Main design for the page*/
*{
  font-family: sans-serif;
}

body{
    height: 100vh;
    background-image: linear-gradient(#06beb6,#48b1bf);
    background-repeat: no-repeat;
}

header,footer{
    font-size: 1.5em;
    text-align: center;
}

header{
  padding-bottom: 2%;
}
footer{
  position: absolute;
  bottom: 0%;
  display: block;
}

article{
  margin-top: 3%;
  height: auto;
  width: auto;
  border: 1px solid blue;
}
/*--------------------------------------------------*/
/* Design specifict html elements*/
#NewTask{
  position: fixed;
  height: auto;
  text-align: center;
  top: 50%;
  left: 50%;
  z-index: 1;
  max-width: auto;
  border: 2px solid black;
  display: none;
  transform: translate(-50%,-50%);
}

#container{
  display: flex;
  justify-content: space-between;
}

/*--------------------------------------------------*/
